<?xml version="1.0"?>
<launch>
  <!-- additional arguments for NDT -->
  <arg name="ndt_threads"/>
  <arg name="ndt_debug_tool"/>
  <arg name="ndt_neighborsearch_method"/>
  <arg name="ndt_dump_stats"/>
  <arg name="ekf_debug_tool"/>
  <!-- localization module -->
  <group ns="localization">
    <!-- util module -->
    <group ns="util">
      <include file="$(find localization_launch)/launch/util/util.launch">
      </include>
    </group>
    <!-- pose_estimator module -->
    <group ns="pose_estimator">
      <include file="$(find localization_launch)/launch/pose_estimator/pose_estimator.launch">
        <arg name="ndt_threads" value="$(arg ndt_threads)" />
        <arg name="ndt_debug_tool" value="$(arg ndt_debug_tool)" />
        <arg name="ndt_neighborsearch_method" value="$(arg ndt_neighborsearch_method)" />
        <arg name="ndt_dump_stats" value="$(arg ndt_dump_stats)" />
      </include>
    </group>
    <!-- twist_estimator module -->
    <group ns="twist_estimator">
      <include file="$(find localization_launch)/launch/twist_estimator/twist_estimator.launch">
      </include>
    </group>
    <!-- pose_twist_fusion_filter module -->
    <group ns="pose_twist_fusion_filter">
      <include file="$(find localization_launch)/launch/pose_twist_fusion_filter/pose_twist_fusion_filter.launch">
        <arg name="ekf_debug_tool" value="$(arg ekf_debug_tool)" />
      </include>
    </group>
    <!-- final twist output of localization -->
    <node pkg="topic_tools" type="relay" name="relay" args="/localization/pose_twist_fusion_filter/twist /localization/twist" />
  </group>
</launch>
